.Rproj.user
.Rhistory
.RData
.Ruserdata
# ignore all logging data
*.log
snakemakeObj.RData
report_templates/*.md
report_templates/*.nb.html
# ignore all folders, except for:
#*/
!scripts/
!images/
!report_templates/
!rules/
!tests/
!test_dataset/sample_bam_files/
# ignore on my (alex) machine
.snakemake/
annotation/
methylation_calls/
segmentation/
bam_files/
new.config.json
config.json
*.Rproj
*.DS_Store
scripts/.snakemake*
test_dataset/TableSheet_test.csv
test_dataset/PROGS.json
tmp
