.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore all logging data
*.log
snakemakeObj.RData

# ignore all folders, except for:
#*/
!scripts/
!images/
!report_templates/
!rules/
!tests/
!test_dataset/sample_bam_files/

# ignore on my (alex) machine 
.snakemake/
annotation/
methylation_calls/
segmentation/
bam_files/
new.config.json
config.json
*.Rproj
*.DS_Store
scripts/.snakemake*