sample_name,barcode,reads,method
WT_NHDF_HSV1_0h_br1,NHDF_HSV1_0h_br1_R1.fastq.gz,NHDF_HSV1_0h_br1_R2.fastq.gz,dropseq
WT_NHDF_HSV1_4h_br1,NHDF_HSV1_4h_br1_R1.fastq.gz,NHDF_HSV1_4h_br1_R2.fastq.gz,dropseq