@font-face {
    font-family: 'droid_serifregular';
    src: url('DroidSerif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: "droid_serifregular", serif;
    text-rendering: optimizelegibility;
    -moz-font-feature-settings: "liga";
    line-height: 140%;
    color: #333;
    background: #fcfbf3; }

@media all {html {font-size: 24px;}}
@media all and (max-width:1000px){html {font-size: 24px;}}
@media all and (max-width:960px){html {font-size: 23px;}}
@media all and (max-width:920px){html {font-size: 22px;}}
@media all and (max-width:880px){html {font-size: 21px;}}
@media all and (max-width:840px){html {font-size: 20px;}}
@media all and (max-width:800px){html {font-size: 19px;}}
@media all and (max-width:760px){html {font-size: 18px;}}

body {
  margin: 0 auto; }

#index {
    padding: 1rem;
    margin-left: 2rem; }

@media screen and (max-width: 600px) {
  #index {
      text-align: center; }
  #index img {
      float: none; }}

#page ul {
  list-style: square outside;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

div.time {
  color: #9ba0a7;
  margin-top: -2.8rem;
  margin-bottom: 2.5rem;
  font-size: 0.9rem;
  font-weight: normal; }

div.figure {
  text-align: center;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 0.4em 0 #888;
  margin: 1rem;
  padding: 1rem; }
  @media screen and (min-width: 600px) {
    div.figure {
      float: right; }}
  @media screen and (max-width: 600px) {
    div.figure {
      float: none;
      clear: both; }}
  div#page div.figure p.caption {
    width: auto;
    text-align: center;
    font-size: 0.8rem; }

h1 {
  color: #000;
  clear: both;
  line-height: 125%;
  margin-top: 1.3rem;
  margin-bottom: .3rem;
  display: block;
  font-family: "droid sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 800; }

h1:first-child {
    font-size: 1.8rem;
    margin-bottom: 3rem;
    margin-top: 3rem; }

@media screen and (max-width: 600px) {
    h1:first-child {
        margin-top: 1rem; }}

* + h2, * + h3 {
    margin-top: 1.5rem; }

h2, h3 {
  color: #333;
  margin-bottom: 0.5em;
  clear: both;
  letter-spacing: -0.04em;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Droid Sans", Arial, sans-serif; }

h3 {
  font-size: 1.2rem; }

a {
  color: #389;
  text-decoration: none; }
  a:visited {
    color: #167; }
  a:hover {
      color: #000;
    background: #eeede5; }

strong {
  font-weight: bold; }

div#page {
    overflow: visible;
    max-width: 32rem;
    padding-left: 2rem;
    margin-right: 1rem;
    margin-bottom: 100px; }
  @media only screen and (min-width: 600px) {
    div#page {
        margin-left: 10rem;
        margin-right: 4rem; }}
  div#page ul {
    max-width: 32rem; }
  div#page p {
    margin-bottom: 0;
    text-align: justify;
    max-width: 32rem; }
    div#page p img, div#page p video {
      display: inline;
      float: right;
      margin-left: 0.8rem;
      -moz-border-radius: 15px;
      border-radius: 15px; }
  div#page p.back {
    margin-top: 1.5rem;
    width: 50%; }
  div#page blockquote {
      margin-left: 3rem;
      margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    font-style: italic; }
  div#page img.full {
      width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;
    position: static;
    float: none;
    clear: both;
    padding: 0;
    display: block;
    -moz-border-radius: 15px;
    border-radius: 15px; }
  div#page img.stretch {
    width: 100%; }
  div#page div.fineprint {
    font-size: .7rem;
    text-indent: 0;
    line-height: 1rem;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px dotted #aaaaaa;
    width: 100%;
    color: #666;
    clear: both;
    display: block; }
    div#page div.fineprint div.license {
      display: block;
      clear: both; }
    div#page div.fineprint img {
      display: block;
      float: left;
      margin-right: .5rem; }

p + p, div.figure + p {
  text-indent: .5rem;
  margin-top: 0.4rem; }

warning {
  clear: both;
  margin: 1rem;
  padding: 1rem;
  background: #ffffaa;
  border: 2px dashed #dddd88;
  border-radius: 3px;
  display: block; }

pre {
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100%;
  display: inline-block;
  border-radius: 3px;
  background: #fff; }

pre.example {
    color: #333;
    display: block;
    overflow-x: auto;
    font-size: .85rem; }

pre code {
  color: #333;
  background: transparent; }

img.undecorated {
  margin: 0;
  padding: 0; }

img.headline {
  margin: 0;
  margin-right: 1rem;
  padding: 0;
  vertical-align: text-bottom; }

span.code, code {
  font-family: "Envy Code R", "Inconsolata", "Consolas", "Courier New", monospace;
  color: #111; }

span.code {
  font-size: 0.85rem;
  border-bottom: #888;
  padding: .15rem; }

br {
  clear: left; }

em {
  font-style: italic; }

.item + .item {
  margin-top: 1rem; }

ul.list {
  list-style-type: square; }
  ul.list li {
    margin-bottom: .4rem; }
    ul.list li .description {
      font-size: .8rem; }

table {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
  table thead {
    border-bottom: 2px solid #ffaa00; }
    table thead tr.header {
      font-weight: bold; }
  table tr.odd {
    background-color: #fafafa; }
  table th + th, table td + td {
    padding-left: 1rem; }

h1.year {
  border-bottom: 4px solid #eeede5;
  width: 50%; }

h2.month {
  font-weight: normal; }

ul.archive {
  margin-left: 1rem; }

ul.tags {
  list-style: none;
  margin-left: 1rem; }
  ul.tags li {
    margin-right: 1rem;
    white-space: nowrap;
    display: inline-block; }
